################################################################################
[MineCoins]

# Enable the coins you want to mine here.
#False,True
mineRVN = True
mineETH = True
mineETC = True

[Scripts]
RVNscript = C:\Users\Administrator\Documents\RVN.bat
ETHscript = ETH.bat
ETCscript = ETC.bat

[tarDiff_High]
tarDiffRVN = 40000
tarDiffETH = 3522206773042161
tarDiffETC = 206456480047318


[tarDiff_Low]
tarDiffRVN  = 8000
tarDiffETH  = 2000000000000000
tarDiffETC = 100000000000000

[priority]
priRVN = 1
priETH = 2
priETC = 3

[looptime]
timescan = 1800
#1800 sec = 30 min
