################################################################################
[MineCoins]

# Enable the coins you want to mine here.
#False,True
mineRVN = True
mineETH = True
mineERA = True

[Scripts]
RVNscript = RVN.bat
ETHscript = ETH.bat
ERAscript = ERA.bat

[tarDiff_High]
tarDiffRVN = 10000
tarDiffETH = 50000
tarDiffERA = 60000


[tarDiff_Low]
tarDiffRVN  = 8000
tarDiffETH  = 40000
tarDiffERA  = 50000

[priority]
priRVN = 3
priETH = 2
priERA = 1

[urlGetDiff]
getdiffRVN = 'http://rvnhodl.com/api/getdifficulty'
getdiffETH = ' https://api.ethermine.org/networkStats/difficulty'
getdiffERA = ' '